chartname: memcached-operator
sharedValues:
  namespace: memcached-operator
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 5m
      memory: 64Mi
globalConfig:
  metadata.labels:
  - strategy: newline
    key: memcached-operator.labels
  metadata.namespace:
  - strategy: inline
    key: sharedValues.namespace
fileConfig:
  deployments/memcached-operator-generated/memcached-operator-controller-manager-deployment.yaml:
    spec.replicas:
    - strategy: inline
      key: replicas
      value: 1
    spec.template.spec.containers[1].image:
    - strategy: inline
      key: manager.image.repository
      value: controller
    - strategy: inline
      key: manager.image.tag
      value: latest
    spec.template.spec.containers[1].name:
    - strategy: inline
      key: manager.name
      value: manager
    spec.template.spec.containers[1].resources:
    - strategy: control-with
      key: sharedValues.resources
    spec.template.spec.containers[1].args:
    - strategy: inline-regex
      key: manager.probe.port
      regex: --health-probe-bind-address=:(\d+)
      value: 9010
    spec.template.spec.containers[1].readinessProbe.httpGet.port:
    - strategy: inline
      key: manager.probe.port
    spec.template.spec.containers[1].livenessProbe.httpGet.port:
    - strategy: inline
      key: manager.probe.port
  deployments/memcached-operator-generated/memcached-operator-controller-manager-metrics-service-svc.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-controller-manager-sa.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-leader-election-role-role.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-leader-election-rolebinding-rb.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-manager-config-cm.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-manager-role-cr.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-manager-rolebinding-crb.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-metrics-reader-cr.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-proxy-role-cr.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-proxy-rolebinding-crb.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-system-namespace.yaml:
    metadata.name:
    - strategy: inline
      key: sharedValues.namespace
  deployments/memcached-operator-generated/memcacheds.cache.example.com-crd.yaml: {}
