chartname: memcached-operator
sharedValues:
  namespace: memcached-operator
globalConfig:
  metadata.labels:
  - strategy: newline
    key: memcached-operator.labels
  metadata.namespace:
  - strategy: inline
    key: sharedValues.namespace
fileConfig:
  deployments/memcached-operator-generated/memcached-operator-controller-manager-deployment.yaml:
    spec.replicas:
    - strategy: inline
      key: replicas
      value: 1
  deployments/memcached-operator-generated/memcached-operator-controller-manager-metrics-service-svc.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-controller-manager-sa.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-leader-election-role-role.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-leader-election-rolebinding-rb.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-manager-config-cm.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-manager-role-cr.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-manager-rolebinding-crb.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-metrics-reader-cr.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-proxy-role-cr.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-proxy-rolebinding-crb.yaml: {}
  deployments/memcached-operator-generated/memcached-operator-system-namespace.yaml: {}
  deployments/memcached-operator-generated/memcacheds.cache.example.com-crd.yaml: {}
